opencv-python>=4.12.0.88
opencv-python-headless>=4.12.0.88
diffusers>=0.34.0
transformers>=4.46.3
tokenizers>=0.20.3
accelerate>=1.8.1
tqdm
imageio
easydict
ftfy
imageio-ffmpeg
scikit-image   
loguru
gradio>=5.0.0
xfuser>=0.4.3
pyloudnorm
decord
xformers==0.0.31
librosa
optimum-quanto==0.2.6